---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
---